.hero {
  background-color: var(--primary-blue);
  color: var(--primary-light);
  height: 100vh;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  padding: 0 5rem;
  position: relative;
  overflow: hidden;
  background-size: cover;
  gap: 3rem; /* Spacing between content and image */
}

.hero-content {
  max-width: 800px;
  margin-bottom: 7rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-button {
  background-color: var(--primary-yellow);
  color: var(--primary-dark);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--secondary-yellow);
}

.hero-image {
  width: 35%;
  height: auto;
  margin-left: 1rem; /* Extra spacing for image */
  animation: fadeIn 1.5s ease-out forwards;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 2rem; /* Adjust spacing for smaller screens */
  }

  .hero-content {
    max-width: 100%;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-button {
    width: 100%; /* Makes the button stretch full width */
    margin-bottom: 1rem; /* Adds space between buttons */
  }

  .hero-image {
    display: none; /* Hides the image on mobile */
  }
}