.hero {
  background-color: var(--primary-blue);
  color: var(--primary-light);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
}

.hero-content {
  max-width: 800px;
  opacity: 0;
  animation: fadeIn 3s ease-out forwards;
  margin-bottom: 7rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  transform: translateY(-30px);
  animation: slideIn 1s ease-out forwards;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  transform: translateY(-30px);
  animation: slideIn 1s ease-out forwards;
  animation-delay: 0.2s;
}

.btn-hero-content {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hero-button {
  background-color: var(--primary-yellow);
  color: var(--primary-dark);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-button:hover {
  background-color: var(--secondary-yellow);
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0.5;
  pointer-events: none;
}

.circle1 { width: 100px; height: 100px; }
.circle2 { width: 150px; height: 150px; }
.circle3 { width: 120px; height: 120px; }
.circle4 { width: 180px; height: 180px; }
.circle5 { width: 130px; height: 130px; }
.circle6 { width: 160px; height: 160px; }

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
  }
}