.home-about {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-logo {
    width: 20vw;
    height: auto;
    object-fit: contain;
}

.about-text {
    flex: 1;
    color: #333;
    text-align: justify;
    line-height: 1.7;
}

.about-text h2 {
    font-weight: 600;
    margin: 0;
}

.about-text h2.about-text-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.about-text h2.about-text-subtitle {
    color: var(--primary-blue);
}

.about-text p {
    margin-bottom: 20px;
    color: #666;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 30px;
        padding: 20px 50px;
    }

    .about-text h2.about-text-title,
    .about-text h2.about-text-subtitle {
        text-align: center;
    }

    .about-logo {
        width: 140px;
        margin-top: 20px;
    }
}
