.contact-container {
    padding: 20px;
}

.contact-info-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding: 40px 20px 0;
}

.contact-info-item {
    flex: 1;
    min-width: 250px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.contact-info-item h3 {
    margin-top: 15px;
    color: #333;
}

.contact-info-item p {
    color: #555;
    font-size: 16px;
}

.contact-icon {
    font-size: 30px;
    color: #007bff;
}

.my-contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.form-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.form-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form-image img {
    width: 65%;
    height: auto;
}

.form-fields {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-fields .form-group {
    margin-bottom: 15px;
}

.form-fields label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-fields input,
.form-fields textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-fields input:focus,
.form-fields textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-fields textarea {
    resize: none;
}

.form-fields button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-fields button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .form-content {
        flex-direction: column;
        align-items: center;
    }

    .form-image {
        margin-bottom: 20px;
    }

    .form-fields {
        width: 100%;
    }

    .form-image {
        width: 100%;
        height: auto;
    }
}
